## TASK 1 : Create a csv dataset using python , pandas and any public api.

In [32]:
# Import required libraries:
import pandas as pd
import requests

In [33]:
# Retrieving data from the data.gov.in API

def fetch_users_data():
    api_url = "https://api.data.gov.in/resource/8d3b6596-b09e-4077-aebf-425193185a5b?api-key=579b464db66ec23bdd000001cdd3946e44ce4aad7209ff7b23ac571b&format=json&limit=100"
    response = requests.get(api_url)

    if response.status_code == 200:
        oil_refiners_data = response.json()
        return oil_refiners_data
    else:
        print(f"Error fetching data. Status code: {response.status_code}")
        return None

In [34]:
# Converting data to a Pandas DataFrame and Saving to CSV


def convert_and_save_to_csv(csv_file,data):
    if data is not None:
        df = pd.DataFrame(data)
        df.to_csv(csv_file, index=False)
        print(f"CSV dataset '{csv_file}' successfully created.")
    else:
        print("Failed to create CSV dataset.")

In [35]:
# Fetch user data from the JSONPlaceholder API
oil_refiners_data = fetch_users_data()

# Displaying the raw json data
oil_refiners_data

{'index_name': '8d3b6596-b09e-4077-aebf-425193185a5b',
 'title': 'Monthly Crude Oil Processed by Refineries',
 'desc': 'Monthly Crude Oil Processed by Refineries',
 'created': 1687434829260,
 'updated': 1687434890,
 'created_date': '2023-06-22T17:24:31Z',
 'updated_date': '2023-06-22T17:24:50Z',
 'active': '1',
 'visualizable': '1',
 'catalog_uuid': 'ed4dbe82-439e-4e7f-b217-ce64627a49fc',
 'source': 'data.gov.in',
 'org_type': 'Central',
 'org': ['Ministry of Petroleum and Natural Gas',
  'Petroleum Planning & Analysis Cell (PPAC)'],
 'sector': ['Non Renewable'],
 'field': [{'name': 'Month', 'id': 'month', 'type': 'keyword'},
  {'name': 'Year', 'id': 'year', 'type': 'double'},
  {'name': 'OIL COMPANIES', 'id': 'oil_companies_', 'type': 'keyword'},
  {'name': 'Quantity (000 Metric Tonnes)',
   'id': 'quantity_000_metric_tonnes_',
   'type': 'double'},
  {'name': 'last_updated',
   'format': 'yyyy-MM-dd HH:mm:ss||yyyy-MM-dd||dd/MM/yyyy',
   'id': 'last_updated',
   'type': 'date'}],
 'target_bucket': {'index': 'api',
  'type': 'ed4dbe82-439e-4e7f-b217-ce64627a49fc',
  'field': '8d3b6596-b09e-4077-aebf-425193185a5b'},
 'message': 'Resource lists',
 'version': '2.2.0',
 'status': 'ok',
 'total': 1189,
 'count': 10,
 'limit': 10,
 'offset': '0',
 'records': [{'month': 'NA',
   'year': '2023',
   'oil_companies_': 'IOCL-BARAUNI,BIHAR',
   'quantity_000_metric_tonnes_': '546.51',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'IOCL-DIGBOI,ASSAM',
   'quantity_000_metric_tonnes_': '43.90',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'IOCL-PARADIP,ODISHA',
   'quantity_000_metric_tonnes_': '1187.32',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'ONGC-TATIPAKA,ANDHRA PRADESH',
   'quantity_000_metric_tonnes_': '6.63',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'ONGC TOTAL',
   'quantity_000_metric_tonnes_': '1475.55',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'HPCL-MUMBAI,MAHARASHTRA',
   'quantity_000_metric_tonnes_': '837.11',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'HPCL-VISAKH,ANDHRA PRADESH',
   'quantity_000_metric_tonnes_': '844.74',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'HMEL-GGSR, BATHINDA, PUNJAB',
   'quantity_000_metric_tonnes_': '1073.10',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'IOCL-HALDIA, WEST BENGAL',
   'quantity_000_metric_tonnes_': '720.08',
   'last_updated': 'NA'},
  {'month': 'NA',
   'year': '2023',
   'oil_companies_': 'IOCL-PARADIP,ODISHA',
   'quantity_000_metric_tonnes_': '1272.10',
   'last_updated': 'NA'}]}

In [36]:
# Extracting the records
records = oil_refiners_data.get("records", [])

# Converting records to Pandas DataFrame
df = pd.DataFrame(records)

# Replacing 'NA' with pd.NA
df.replace('NA', pd.NA, inplace=True)


# Displaying the DataFrame
df

,month,year,oil_companies_,quantity_000_metric_tonnes_,last_updated
0,<NA>,2023,"IOCL-BARAUNI,BIHAR",546.51,<NA>
1,<NA>,2023,"IOCL-DIGBOI,ASSAM",43.90,<NA>
2,<NA>,2023,"IOCL-PARADIP,ODISHA",1187.32,<NA>
3,<NA>,2023,"ONGC-TATIPAKA,ANDHRA PRADESH",6.63,<NA>
4,<NA>,2023,ONGC TOTAL,1475.55,<NA>
5,<NA>,2023,"HPCL-MUMBAI,MAHARASHTRA",837.11,<NA>
6,<NA>,2023,"HPCL-VISAKH,ANDHRA PRADESH",844.74,<NA>
7,<NA>,2023,"HMEL-GGSR, BATHINDA, PUNJAB",1073.10,<NA>
8,<NA>,2023,"IOCL-HALDIA, WEST BENGAL",720.08,<NA>
9,<NA>,2023,"IOCL-PARADIP,ODISHA",1272.10,<NA>

In [37]:
## Now saving the Pandas DataFrame to CSV

# Specify the CSV filename
csv_file = "oil_refiners_data.csv"


# Create a Pandas DataFrame and save it to CSV
convert_and_save_to_csv(csv_file, df)

CSV dataset 'oil_refiners_data.csv' successfully created.

In [38]:
## Now inspecting the saved csv file

# Saved CSV file name:
csv_filename = "oil_refiners_data.csv"

# Reading the CSV file into a Pandas DataFrame
df = pd.read_csv(csv_filename)

# Dispaying first five columns of dataset
df.head()

,month,year,oil_companies_,quantity_000_metric_tonnes_,last_updated
0,NaN,2023,"IOCL-BARAUNI,BIHAR",546.51,NaN
1,NaN,2023,"IOCL-DIGBOI,ASSAM",43.90,NaN
2,NaN,2023,"IOCL-PARADIP,ODISHA",1187.32,NaN
3,NaN,2023,"ONGC-TATIPAKA,ANDHRA PRADESH",6.63,NaN
4,NaN,2023,ONGC TOTAL,1475.55,NaN

In [39]:
# Checking Coulmn names
df.columns

Index(['month', 'year', 'oil_companies_', 'quantity_000_metric_tonnes_',
       'last_updated'],
      dtype='object')

In [40]:
# Checking column datatypes:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   month                        0 non-null      float64
 1   year                         10 non-null     int64
 2   oil_companies_               10 non-null     object
 3   quantity_000_metric_tonnes_  10 non-null     float64
 4   last_updated                 0 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 528.0+ bytes

In [41]:
# Checking dataset shape:
df.shape

(10, 5)

In [42]:
# Checking null datesets in dataset:
df.isnull().sum()

month                          10
year                            0
oil_companies_                  0
quantity_000_metric_tonnes_     0
last_updated                   10
dtype: int64